<app-header></app-header>
<main class="container">
  <h1 class="text-center py-4 fs-3">Lista de Contatos</h1>
  <form [formGroup]="formPesquisa" class="d-flex w-50 mb-4" role="search">
    <input class="form-control me-2" type="search" placeholder="Pesquisar contatos" aria-label="Search" formControlName="termo">
    <button class="btn btn-outline-success" type="button" (click)="pesquisarContatos()">Pesquisar</button>
  </form>
  <div class="grid">
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaContatos">
          <td>{{item.pessoa.nome}}</td>
          <td>{{item?.email}}</td>
          <td>{{item?.telefone}}</td>
        </tr>
       </tbody>
    </table>
  </div>
</main>
